* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Assistant", serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

img {
    width: 100%;
    max-width: 100%;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    overflow-x: hidden;
    background-color: #FFFFFF;
}

:root {
    --dark: #222831;
    --light-dark: #31363F;
    --light-blue: #76ABAE;
    --white: #EEEEEE;
    --white-subtitle: #eeeeee9a;
}

//navbar
#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    background-color: var(--light-dark);
    padding: 1rem 5rem;
    justify-content: space-between;
    z-index: 9999;

    .navbar__left {
        img {
            width: 10rem;
            filter: invert(1);
        }
    }

    .navbar__right {
        width: 55rem;
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            li {
                a {
                    color: var(--white);
                    position: relative;
                    transition: all 200ms linear;
                }

                a:hover {
                    color: var(--light-blue);
                }

                a::before {
                    content: "";
                    position: absolute;
                    bottom: -2px;
                    left: 0%;
                    width: 0%;
                    height: 2px;
                    background-color: var(--light-blue);
                    transition: all 200ms ease-in-out;
                }

                a:hover::before {
                    width: 100%;
                    left: 0%;
                }
            }
        }
    }
}

//header
.header {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;

    .header__left {


        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 65rem;
        }
    }

    .header__right {

        height: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-size: 6rem;
            text-transform: capitalize;
            font-style: italic;
            font-weight: 400;
            color: var(--dark);
            margin-bottom: 1.5rem;
        }

        .right__div {
            display: flex;
            gap: 2rem;
            align-items: center;
            margin-bottom: 2.2rem;

            span {
                color: var(--light-dark);
                font-size: 1.8rem;
            }

            a {
                display: inline-block;
                padding: 0.9rem 1.8rem;
                font-size: 16px;
                font-weight: 700;
                color: var(--light-blue);
                border: 3px solid var(--light-dark);
                background-color: var(--light-dark);
                cursor: pointer;
                position: relative;
                text-decoration: none;
                overflow: hidden;
                z-index: 1;
                font-family: inherit;
                width: 12rem;
                text-align: center;
                transition: all 300ms ease-in;
            }

            a::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: var(--light-blue);
                transform: translateX(-100%);
                transition: all .3s;
                z-index: -1;
            }

            a:hover::before {
                transform: translateX(0);
            }

            a:hover {
                color: var(--white);
                border: 3px solid var(--light-blue);
            }
        }


        .contact__div {
            display: flex;
            gap: 2rem;
        }
    }

    .waves {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 100%;
    }
}

//services
.services {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-color: transparent;
    position: relative;

    .card {
        cursor: pointer;
        width: 350px;
        height: 300px;
        border-radius: 60px;
        background: #e0e0e0;
        box-shadow: 20px 20px 60px #bebebe,
            -20px -20px 60px #c4c4c4;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .card__icon {
            height: 10rem;

            i {
                font-size: 10rem;
                color: var(--light-dark);
            }
        }

        .card__text {
            padding: 1rem 2rem;
            text-align: center;
            color: var(--dark);
        }
    }

    .card:hover {
        transform: scale(1.1);
    }

    .svg1 {
        position: absolute;
        width: 80rem;
        top: -10rem;
        left: -25rem;
        z-index: -1;
    }

    .svg2 {
        position: absolute;
        width: 80rem;
        bottom: -20rem;
        right: -25rem;
        z-index: -1;
    }
}

//sponsors
.sponsors {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    h2 {
        margin: 4rem 0;
        font-size: 5rem;
        color: var(--light-dark);
        font-style: italic;
        font-weight: 400;
    }

    .sponsors__div {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        max-width: 1200px;
        width: 1200px;

        .sponsors__mid {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 40rem;
                height: 50%;
                border-radius: 7px;
                box-shadow: 0px 8px 12px 1px rgba(92, 92, 92, 0.39);
            }
        }

        .sponsors__side {
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;

            .sponsor {
                padding: 1rem;
                height: 15rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 7px;
                background: transparent;
                box-shadow: 0px 8px 12px 1px rgba(92, 92, 92, 0.39);
                background-color: #FFFFFF;

                img {
                    width: 20rem;
                }
            }

        }

    }

    .wave1 {
        position: absolute;
        bottom: 0;
        z-index: -1;
        width: 100%;
    }

}

//us
.us {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 25rem;
    position: relative;

    .us__container {
        display: flex;
        flex-direction: row-reverse;
        gap: 3rem;
        justify-content: center;
        align-items: center;

        .us__left {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60rem;
            height: 40rem;

            img {
                width: 100%;
                border-radius: 3px;
                box-shadow: 0px 8px 12px 1px rgba(3, 3, 3, 0.39);
            }
        }

        .us__right {
            width: 60rem;
            height: 40rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h3 {
                color: var(--light-dark);
                font-weight: 400;
                font-style: italic;
                font-size: 6rem;
            }

            p {
                color: var(--dark);
                font-style: italic;
                font-size: 1.7rem;
            }
        }
    }

    .waveR {
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        transform: rotateY(180deg);
    }
}

//footer{
.footer {
    width: 100vw;
    background-color: var(--light-dark);
    color: var(--white-subtitle);
    padding: 2.5rem 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

//wh
.w-icon {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background-color: #222831;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 5px 5px 15px #35353583,
        -5px -5px 15px #42424281;

    i {
        color: #5FFC7B;
        font-size: 3rem;

    }

}

//second page
.contact {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .contact__content {
        display: flex;
        max-width: 1200px;
        width: 1200px;
        padding: 2rem;
        gap: 2rem;
        box-shadow: 20px 20px 60px #bebebe,
            -20px -20px 60px #c4c4c4;
        border-radius: 40px;

        .contact__left {
            width: 60%;

            iframe {
                width: 100%;
                height: 45rem;
                border-top-left-radius: 25px;
                border-bottom-left-radius: 30px;
            }
        }

        .contact__right {
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;

            form {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: start;

                label {
                    margin-top: 1rem;
                    font-size: 2rem;
                    color: var(--light-dark);
                    font-style: italic;
                }

                input {
                    margin-bottom: 1rem;
                    outline: none;
                    border: 1px solid #31363F;
                    border-radius: 5px;
                    width: 20rem;
                    height: 3rem;
                    padding: 1rem;
                    color: var(--dark);
                }

                #textarea {
                    border: 1px solid #31363F;
                    border-radius: 10px;
                    width: 80%;
                    height: 15rem;
                    resize: none;
                    padding: 1rem;
                    color: var(--dark);
                }
            }
        }
    }
}