<section class="aliance">
    <div class="aliance__left">
        <img src="/cupa.png" alt="" />
    </div>
    <div class="aliance__right">
        <p>
            Desde 2017, establecimos una alianza estratégica y comercial con el
            despacho CUPA Contadores con el objetivo de fortalecer nuestras
            soluciones y ofrecer un servicio más completo y especializado. Esta
            colaboración nos permite integrar de manera eficiente aspectos
            administrativos, operativos, contables y fiscales en cada uno de
            nuestros proyectos. Gracias a esta sinergia, brindamos a nuestros
            clientes un enfoque integral que optimiza la gestión y el
            cumplimiento normativo, asegurando soluciones adaptadas a sus
            necesidades empresariales.
        </p>
    </div>
</section>
