<section
    class="w-screen flex flex-col-reverse gap-5 py-26 pb-0 px-5 lg:h-screen lg:flex-row lg:items-center lg:justify-center"
    id="baseMain"
>
    <div
        class="observerLeft flex flex-col-reverse gap-10 lg:w-[70%] lg:flex-col lg:items-center lg:justify-center lg:max-w-2xl"
    >
        <div class="mb-10 px-2">
            <h2 class="text-[var(--light-blue)] text-xl mb-3 sm:text-2xl">
                Base Fiscal XML 2025 – Automatización y Declaración Precisa para
                Diversos Regímenes
            </h2>
            <p class="text-[var(--light-orange)] sm:text-xl">
                Con Base Fiscal XML 2025, automatiza tus procesos contables y
                presenta tus declaraciones de forma rápida, precisa y sin
                errores. Compatible con múltiples regímenes fiscales, esta
                solución te permite mantenerte al día con tus obligaciones
                mientras ahorras tiempo y evitas sanciones.
            </p>
        </div>
        <div
            class="max-w-2xl w-[100%] border border-gray-300 rounded-md bg-yellow-50 p-6 shadow-md"
        >
            <div class="mb-4">
                <label class="block text-sm font-semibold text-gray-700 mb-1"
                    >LICENCIA</label
                >
                <select
                    id="rfcSelect"
                    class="w-full border border-gray-300 rounded px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
                >
                    <option value="580">Para 1 RFC</option>
                    <option value="2610">Hasta 5 RFC</option>
                    <option value="4640">Hasta 10 RFC</option>
                    <option value="20300">Hasta 50 RFC</option>
                    <option value="29000">Hasta 100 RFC</option>
                </select>
            </div>

            <div class="mb-4">
                <p class="text-sm font-semibold text-gray-700">VIGENCIA</p>
                <p class="text-sm text-gray-700 ml-2">Anual</p>
            </div>

            <div class="mb-6">
                <p class="text-sm font-semibold text-gray-800">
                    Por favor, <span class="text-red-600">ANTES DE COMPRAR</span
                    > prueba el programa.
                </p>
                <p class="text-sm text-gray-700">
                    Aprende a usarlo y convéncete 😉
                </p>
            </div>

            <div class="flex items-center justify-between">
                <div>
                    <p
                        class="text-xl font-bold text-blue-600"
                        id="priceDisplay"
                    >
                        $580.00 <span class="text-xs text-red-600"
                            >IVA Incl.</span
                        >
                    </p>
                </div>
                <button
                    class="bg-orange-500 hover:bg-orange-600 text-white font-semibold px-3 py-2 text-xs rounded cursor-pointer"
                >
                    Añadir al carrito
                </button>
            </div>
        </div>
    </div>
    <div class="observerRight flex items-center justify-center lg:w-[30%]">
        <img
            src="/basefiscal.jpg"
            class="w-85 sm:w-90 xl:w-100 2xl:w-120"
            alt=""
        />
    </div>
</section>
