<section class="flex flex-col items-center justify-center gap-5 px-3">
    <div class="flex flex-col items-center observerLeft">
        <p class="text-center pt-25 text-sm text-[var(--dark-blue)]">
            ¿Te gustaría optimizar tu gestión fiscal de forma más rápida,
            precisa y sin complicaciones?
        </p>
        <h2 class="text-center my-4 text-3xl text-[var(--light-orange)]">
            Te invitamos a probar GRATIS Base Fiscal XML por 30 días.
        </h2>
        <p class="text-center text-sm text-[var(--dark-blue)]">
            Con nuestra versión de prueba podrás descubrir cómo nuestro software
            puede transformar tu manera de trabajar:
        </p>
        <img src="/src/img/basefiscal.jpg" class="w-60 my-3" alt="" />
        <a
            class="overflow-hidden w-28 p-2 h-10 bg-[var(--light-blue)] text-white border-none rounded-md text-sm cursor-pointer relative z-10 group text-center"
        >
            Contactanos
            <span
                class="absolute w-36 h-32 -top-8 -left-2 bg-white rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-500 duration-1000 origin-left"
            ></span>
            <span
                class="absolute w-36 h-32 -top-8 -left-2 bg-orange-300 rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-700 duration-700 origin-left"
            ></span>
            <span
                class="absolute w-36 h-32 -top-8 -left-2 bg-[var(--light-orange)] rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-1000 duration-500 origin-left"
            ></span>
            <span
                class="group-hover:opacity-100 group-hover:duration-1000 duration-100 opacity-0 absolute top-2.5 left-6 z-10 text-center"
                ><i class="fa-brands fa-whatsapp"></i></span
            >
        </a>
    </div>
    <div class="observerRight">
        <ul class="flex flex-col items-center justify-center my-3 px-3 gap-3">
            <li class="text-center">
                <span class="text-[var(--light-orange)] text-xl font-bold"
                    >Automatización de impuestos</span
                >
                <p class="text-[var(--light-blue)] text-sm">
                    Olvídate del trabajo manual y reduce errores con cálculos
                    automáticos.
                </p>
            </li>
            <li class="text-center">
                <span class="text-[var(--light-orange)] text-xl font-bold"
                    >Ahorro de tiempo</span
                >
                <p class="text-[var(--light-blue)] text-sm">
                    Agiliza tus procesos fiscales con herramientas inteligentes.
                </p>
            </li>
            <li class="text-center">
                <span class="text-[var(--light-orange)] text-xl font-bold"
                    >Actualizaciones fiscales constantes</span
                >
                <p class="text-[var(--light-blue)] text-sm">
                    Mantente al día con los cambios en regulaciones sin
                    preocuparte.
                </p>
            </li>
            <li class="text-center">
                <span class="text-[var(--light-orange)] text-xl font-bold"
                    >Soporte técnico incluido</span
                >
                <p class="text-[var(--light-blue)] text-sm">
                    Durante tu prueba, nuestro equipo estará disponible para
                    ayudarte.
                </p>
            </li>
        </ul>
    </div>
</section>
