<section
    class="w-screen flex flex-col pt-10 items-center justify-center gap-10 px-3 lg:px-10 xl:h-screen xl:px-5 xl:flex-row 2xl:px-40"
>
    <div
        class="flex flex-col gap-5 observerUp xl:w-[60%] bg-gray-100 rounded-xl shadow-2xl p-10"
    >
        <div class="flex items-center p-3">
            <div class="px-1">
                <span
                    class="w-4 h-4 rounded-full inline-block bg-red-500 cursor-pointer"
                ></span>
            </div>
            <div class="px-1">
                <span
                    class="w-4 h-4 rounded-full inline-block bg-yellow-400 cursor-pointer"
                ></span>
            </div>
            <div class="px-1">
                <span
                    class="w-4 h-4 rounded-full inline-block bg-green-500 cursor-pointer"
                ></span>
            </div>
        </div>
        <h2
            class="text-3xl text-[var(--light-orange)] text-center md:text-4xl lg:text-5xl 2xl:text-start 2xl:text-7xl"
        >
            Satisfacción Garantizada
        </h2>
        <p
            class="text-sm text-[var(--light-blue)] md:text-xl lg:text-2xl 2xl:text-xl"
        >
            La confianza de nuestros clientes es nuestro mayor respaldo. A lo
            largo del tiempo, empresas como Autoclimas, Lavadoras León,
            Autoteam, Serdán Refrigeración de Equipos, Gree Aires Acondicionados
            y Avil Construcciones y Diseño han comprobado la calidad, el
            compromiso y la eficiencia de nuestros servicios.
        </p>
        <p
            class="text-sm text-[var(--light-blue)] md:text-xl lg:text-2xl 2xl:text-xl"
        >
            Gracias a su preferencia, seguimos mejorando y ofreciendo soluciones
            confiables adaptadas a cada necesidad. Nos enorgullece saber que
            nuestros clientes no solo están satisfechos, sino que también nos
            recomiendan.
        </p>
    </div>
    <div class="observerUp xl:w-[40%]">
        <div class="relative w-full max-w-2xl mx-auto overflow-hidden">
            <div
                id="slider"
                class="flex transition-transform duration-500 ease-in-out"
            >
                <div
                    class="w-full flex-shrink-0 bg-[var(--ligh-blue)]-64 flex items-center justify-center text-white text-2xl"
                >
                    <img src="/clients/client1.png" alt="" />
                </div>
                <div
                    class="w-full flex-shrink-0 bg-[var(--ligh-blue)]h-64 flex items-center justify-center text-white text-2xl"
                >
                    <img src="/clients/client2.png" alt="" />
                </div>
                <div
                    class="w-full flex-shrink-0 bg-[var(--ligh-blue)] h-64 flex items-center justify-center text-white text-2xl"
                >
                    <img src="/clients/client3.png" alt="" />
                </div>
                <div
                    class="w-full flex-shrink-0 bg-[var(--ligh-blue)] h-64 flex items-center justify-center text-white text-2xl"
                >
                    <img src="/clients/client4.png" alt="" />
                </div>
                <div
                    class="w-full flex-shrink-0 bg-[var(--ligh-blue)] h-64 flex items-center justify-center text-white text-2xl"
                >
                    <img src="/clients/client5.png" alt="" />
                </div>
                <div
                    class="w-full flex-shrink-0 bg-[var(--ligh-blue)] h-64 flex items-center justify-center text-white text-2xl"
                >
                    <img src="/clients/client6.png" alt="" />
                </div>
            </div>

            <button
                id="prev"
                class="absolute left-2 top-1/2 -translate-y-1/2 bg-black/50 text-white px-3 py-1 rounded-full z-10"
            >
                ‹
            </button>
            <button
                id="next"
                class="absolute right-2 top-1/2 -translate-y-1/2 bg-black/50 text-white px-3 py-1 rounded-full z-10"
            >
                ›
            </button>
        </div>
    </div>
</section>
