<section class="flex flex-col items-center justify-center gap-10 p-5">
    <div class="observerRight">
        <img src="/src/img/clients2.webp" alt="" />
    </div>
    <div class="observerLeft">
        <h2 class="text-[var(--light-blue)] text-5xl mb-2">Alianzas Estratégicas</h2>
        <p class="text-[var(--light-orange)]">
            Desde 2017, se estableció una alianza estratégica y comercial con el
            despacho CUPA Contadores, con el objetivo de ofrecer soluciones más
            completas, integrando aspectos administrativos, operativos,
            contables y fiscales en nuestros proyectos.
        </p>
        <p class="text-[var(--light-orange)]">
            Esta colaboración nos permite brindar un servicio integral de mayor
            calidad a todos nuestros clientes.
        </p>
    </div>
</section>
