<section
    class="flex flex-col items-center justify-center gap-10 p-5 lg:flex-row lg:py-30 xl:h-screen 2xl:items-center 2xl:justify-center"
    id="clientes"
>
    <div
        class="observerRight md:flex md:items-center md:justify-center lg:w-[50%] 2xl:pl-30"
    >
        <img src="/clients2.webp" class="md:w-110 2xl:w-100" alt="" />
    </div>
    <div
        class="observerLeft lg:w-[50%] 2xl:mr-50 bg-gray-100 rounded-xl shadow-2xl p-10 w-fit"
    >
        <div class="flex items-center p-3">
            <div class="px-1">
                <span
                    class="w-4 h-4 rounded-full inline-block bg-red-500 cursor-pointer"
                ></span>
            </div>
            <div class="px-1">
                <span
                    class="w-4 h-4 rounded-full inline-block bg-yellow-400 cursor-pointer"
                ></span>
            </div>
            <div class="px-1">
                <span
                    class="w-4 h-4 rounded-full inline-block bg-green-500 cursor-pointer"
                ></span>
            </div>
        </div>
        <h2
            class="text-[var(--light-blue)] text-5xl mb-2 md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-7xl"
        >
            Alianzas Estratégicas
        </h2>
        <p
            class="text-[var(--light-orange)] md:text-xl lg:text-2xl xl:text-3xl 2xl:text-2xl"
        >
            Desde 2017, se estableció una alianza estratégica y comercial con el
            despacho CUPA Contadores, con el objetivo de ofrecer soluciones más
            completas, integrando aspectos administrativos, operativos,
            contables y fiscales en nuestros proyectos.
        </p>
        <p
            class="text-[var(--light-orange)] md:text-xl lg:text-2xl xl:text-3xl 2xl:text-2xl"
        >
            Esta colaboración nos permite brindar un servicio integral de mayor
            calidad a todos nuestros clientes.
        </p>
    </div>
</section>
