<section class="contact hidden3">
    <div class="contact__content">
        <div class="contact__left">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d69981.32177826569!2d-109.03401133019878!3d25.782979936119276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86ba2f42b635eac3%3A0xb624c34752328808!2sLos%20Mochis%2C%20Sin.!5e1!3m2!1ses-419!2smx!4v1740348771686!5m2!1ses-419!2smx"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="contact__right">
            <form action="">
                <label for="Name">Nombre</label>
                <input type="text" name="Name" />
                <label for="Email">Email</label>
                <input type="email" name="Email" />
                <label for="Phone">Telefono</label>
                <input type="number" name="Phone" />
                <label for="Task">Asunto</label>
                <input type="text" name="Task" />
                <textarea id="textarea"  placeholder="Breve resumen" />
            </form>
        </div>
    </div>
</section>
