<footer class="footer">
    <div class="footer__left">
        <span class="span1"> Los Mochis, Sin</span>
        <span class="span2"> (+52) 662 473 7821 - (+52) 553 990 4089</span>
    </div>
    <div class="footer__right">© 2025| TIIM - Tecnología para tu Negocio.</div>
</footer>
