<footer
    class="w-screen h-10 bg-[var(--light-blue)] flex flex-col items-center justify-center py-7 gap-1 xl:flex-row xl:justify-evenly"
>
    <div class="">
        <p class="text-[var(--white)] text-xs lg:text-base">
            Los Mochis, Sin | (+52) 662 473 7821 - (+52) 553 990 4089 |
        </p>
    </div>
    <div class="">
        <p class="text-[var(--white)] text-xs lg:text-base">
            © 2025| TIIM - Tecnología para tu Negocio.
        </p>
    </div>
</footer>
