<section
    class="w-screen h-screen flex flex-col-reverse items-center justify-center gap-10 p-5"
>
    <div class="w-[100%]">
        <img src="/src/img/headerimg.jpg" alt="" />
    </div>
    <div class="w-[100%] flex flex-col">
        <h2 class="text-5xl capitalize mb-3 text-[var(--dark-blue)]">
            software a tu medida
        </h2>
        <div class="flex gap-5 mb-1 text-[var(--light-blue)]">
            <p>Tecnología para tu negocio</p>
            <a href="#">Servicios</a>
        </div>
        <div class="flex gap-5 mb-1 text-[var(--light-blue)]">
            <p class="text-xs">
                <i class="fa-solid fa-phone"></i> +5539 90 4089
            </p>
            <p class="text-xs">
                <i class="fa-solid fa-envelope"></i> tiimtecnologia@gmail.com
            </p>
        </div>
    </div>
</section>
