<section id="header" class="header">
    <div class="header__left animate__animated animate__fadeInLeft">
        <img src="/headerImg.jpg" alt="" />
    </div>
    <div class="header__right animate__animated animate__fadeInRight">
        <h1>Software a tu medida</h1>

        <div class="right__div">
            <span>Tecnología para tu negocio </span>
            <a href="#services">Servicios</a>
        </div>

        <div class="contact__div">
            <p>
                <i class="fa-solid fa-phone"></i>
                + 5539 90 4089
            </p>
            <p>
                <i class="fa-solid fa-envelope"></i>
                tiimtecnologia@gmail.com
            </p>
        </div>
    </div>
</section>
