<nav
    class="fixed top-0 left-0 w-full backdrop-blur-xs border-gray-200 z-50
    shadow-[0px_5px_27px_-8px_rgba(255,_255,_255,_0.15) bg-[var(--light-blue)]"
>
    <div
        class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto p-4"
    >
        <a href="#home"
            ><img
                src="/IconWeb.png"
                class="h-11 invert-100"
                alt="tiim-Icon"
            /></a
        >
        <button
            data-collapse-toggle="navbar-default"
            type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        >
            <svg
                id="openBtn"
                class="w-5 h-5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 17 14"
            >
                <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 1h15M1 7h15M1 13h15"></path>
            </svg>
        </button>
        <div
            class="w-full md:block md:w-auto max-lg:-mt-[110%] ease-linear duration-300
            md:mt-0"
            id="navbar-default"
        >
            <ul
                class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0
                md:gap-3"
            >
                <li>
                    <a
                        aria-label="link to home section"
                        href="#main"
                        class="block py-2 px-3 md:p-0 text-[var(--white)] link "
                        >Inicio</a
                    >
                </li>
                <li>
                    <a
                        aria-label="link to projects section"
                        href="#us"
                        class="block py-2 px-3 md:p-0 text-[var(--white)] link"
                        >Servicios</a
                    >
                </li>
                <li>
                    <a
                        aria-label="link to about me section"
                        href="#bfiscal"
                        class="block py-2 px-3 md:p-0 text-[var(--white)] link"
                        >Base Fiscal</a
                    >
                </li>
                <li>
                    <a
                        aria-label="link to my techs"
                        href="#clientes"
                        class="block py-2 px-3 md:p-0 text-[var(--white)] link"
                        >Clientes</a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>

<body class="pt-16"> </body>
