<nav id="navbar" class="animate__animated animate__fadeInDown">
    <div class="navbar__left">
        <img src="/TiimLogo.avif" alt="" />
    </div>
    <div class="navbar__right">
        <ul>
            <li><a href="#header">Inicio</a></li>
            <li><a href="#services">Servicios</a></li>
            <li><a href="#clients">Clientes</a></li>
            <li><a href="#us">Nosotros</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </div>
</nav>
