<section
    class="flex flex-col w-screen h-screen items-center justify-evenly gap-5"
>
    <div
        class="w-70 bg-white shadow-[0px_0px_15px_rgba(0,0,0,0.09)] p-5 space-y-3 relative overflow-hidden observerUp"
    >
        <div
            class="w-24 h-24 bg-[var(--light-orange)] rounded-full absolute -right-5 -top-7"
        >
            <p class="absolute bottom-6 left-7 text-white text-2xl">01</p>
        </div>
        <div class="fill-[var(--light-orange)] w-12">
            <i class="fa-solid fa-code text-3xl text-[var(--light-orange)]"></i>
        </div>
        <h1 class="font-bold text-xl">Desarrollo de Software</h1>
        <p class="text-sm text-zinc-500 leading-5">
            El software a la medida es aquel que está diseñado específicamente
            para los requerimientos de un cliente ya que cada empresa tiene una
            forma distinta de operar.
        </p>
    </div>

    <div
        class="w-70 bg-white shadow-[0px_0px_15px_rgba(0,0,0,0.09)] p-9 space-y-3 relative overflow-hidden observerUp"
    >
        <div
            class="w-24 h-24 bg-[var(--light-orange)] rounded-full absolute -right-5 -top-7"
        >
            <p class="absolute bottom-6 left-7 text-white text-2xl">02</p>
        </div>
        <div class="fill-violet-500 w-12">
            <i class="fa-solid fa-pen-nib text-3xl text-[var(--light-orange)]"
            ></i>
        </div>
        <h1 class="font-bold text-xl">Diseño Web</h1>
        <p class="text-sm text-zinc-500 leading-5">
            Diseño Web profesional y personalizado a la medida de tu negocio u
            organización.
        </p>
    </div>

    <div
        class="w-70 bg-white shadow-[0px_0px_15px_rgba(0,0,0,0.09)] p-9 space-y-3 relative overflow-hidden observerUp"
    >
        <div
            class="w-24 h-24 bg-[var(--light-orange)] rounded-full absolute -right-5 -top-7"
        >
            <p class="absolute bottom-6 left-7 text-white text-2xl">03</p>
        </div>
        <div class="fill-violet-500 w-12">
            <i
                class="fa-solid fa-people-group text-3xl text-[var(--light-orange)]"
            ></i>
        </div>
        <h1 class="font-bold text-xl">Marketing Digital</h1>
        <p class="text-sm text-zinc-500 leading-5">
            Colocamos tu negocio o producto al alcance de más personas, por
            medio de las redes sociales más visitadas, logrando atraer más
            clientes a tu negocio
        </p>
    </div>
    
</section>
