<section
    class="flex flex-col w-screen h-screen items-center justify-evenly gap-5 2xl:flex-row"
    id="us"
>
    <div
        class="w-70 bg-white shadow-[0px_0px_15px_rgba(0,0,0,0.09)] p-5 space-y-3 relative overflow-hidden observerUp
        md:w-130 md:h-80 md:flex md:flex-col md:justify-center"
    >
        <div
            class="w-24 h-24 md:w-29 md:h-29 bg-[var(--light-orange)] rounded-full absolute -right-5 -top-7"
        >
            <p class="absolute bottom-6 left-7 text-white text-2xl md:text-3xl">
                01
            </p>
        </div>
        <div class="fill-[var(--light-orange)] w-12">
            <i
                class="fa-solid fa-code text-3xl text-[var(--light-orange)] md:text-4xl"
            ></i>
        </div>
        <h1 class="font-bold text-xl md:text-3xl">Desarrollo de Software</h1>
        <p
            class="text-sm text-zinc-500 leading-5
        md:text-xl md:leading-7"
        >
            El software a la medida es aquel que está diseñado específicamente
            para los requerimientos de un cliente ya que cada empresa tiene una
            forma distinta de operar.
        </p>
    </div>
    <div
        class="w-70 bg-white shadow-[0px_0px_15px_rgba(0,0,0,0.09)] p-5 space-y-3 relative overflow-hidden observerUp
        md:w-130 md:h-80 md:flex md:flex-col md:justify-center"
    >
        <div
            class="w-24 h-24 md:w-29 md:h-29 bg-[var(--light-orange)] rounded-full absolute -right-5 -top-7"
        >
            <p class="absolute bottom-6 left-7 text-white text-2xl md:text-3xl">
                02
            </p>
        </div>
        <div class="fill-[var(--light-orange)] w-12">
            <i
                class="fa-brands fa-chrome text-3xl text-[var(--light-orange)] md:text-4xl"
            ></i>
        </div>
        <h1 class="font-bold text-xl md:text-3xl">Diseño Web</h1>
        <p
            class="text-sm text-zinc-500 leading-5
        md:text-xl md:leading-7"
        >
            Diseño Web profesional y personalizado a la medida de tu negocio u
            organización, con un enfoque en usabilidad, velocidad de carga y
            compatibilidad en todos los dispositivos. 
        </p>
    </div>
    <div
        class="w-70 bg-white shadow-[0px_0px_15px_rgba(0,0,0,0.09)] p-5 space-y-3 relative overflow-hidden observerUp
        md:w-130 md:h-80 md:flex md:flex-col md:justify-center"
    >
        <div
            class="w-24 h-24 md:w-29 md:h-29 bg-[var(--light-orange)] rounded-full absolute -right-5 -top-7"
        >
            <p class="absolute bottom-6 left-7 text-white text-2xl md:text-3xl">
                03
            </p>
        </div>
        <div class="fill-[var(--light-orange)] w-12">
            <i
                class="fa-solid fa-people-group text-3xl text-[var(--light-orange)] md:text-4xl"
            ></i>
        </div>
        <h1 class="font-bold text-xl md:text-3xl">Marketing Digital</h1>
        <p
            class="text-sm text-zinc-500 leading-5
        md:text-xl md:leading-7"
        >
            Colocamos tu negocio o producto al alcance de más personas, por
            medio de las redes sociales más visitadas, logrando atraer más
            clientes a tu negocio.
        </p>
    </div>
</section>
