<section id="services" class="services">
    <div class="card hidden3">
        <div class="card__icon">
            <i class="fa-solid fa-desktop"></i>
        </div>
        <div class="card__text">
            <p>
                El Software a la Medida es aquel diseñado especialmente para
                satisfacer necesidades particulares o específicas.
            </p>
        </div>
    </div>
    <div class="card hidden3">
        <div class="card__icon">
            <i class="fa-solid fa-code"></i>
        </div>
        <div class="card__text">
            <p>
                Diseño Web profesional y personalizado para tu negocio u
                organización.
            </p>
        </div>
    </div>
    <div class="card hidden3">
        <div class="card__icon">
            <i class="fa-brands fa-uncharted"></i>
        </div>
        <div class="card__text">
            <p>
                Software de alta calidad, asegurando que todos los que brindamos
                para cumplir con los más altos estándares de función, eficiencia
                y seguridad.
            </p>
        </div>
    </div>
    <svg class="svg1" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
        <path
            fill="#76ABAE"
            d="M64.7,-18.9C71,-1.6,54.4,25.3,32.2,40.5C10,55.8,-17.9,59.4,-38,46.2C-58.2,33,-70.7,3,-63,-16.1C-55.4,-35.3,-27.7,-43.5,0.7,-43.8C29.2,-44,58.3,-36.2,64.7,-18.9Z"
            transform="translate(100 100)"></path>
    </svg>
    <svg class="svg2" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
        <path
            fill="#76ABAE"
            d="M51.5,-18.7C56.9,-0.3,44.4,21.8,23.7,38.3C2.9,54.7,-26.2,65.4,-40.3,55.2C-54.5,45,-53.6,13.9,-44.4,-9.8C-35.2,-33.5,-17.6,-49.8,2.7,-50.7C23.1,-51.6,46.2,-37.1,51.5,-18.7Z"
            transform="translate(100 100)"></path>
    </svg>
</section>
