<section id="clients" class="sponsors">
    <h2>Nuestro Clientes</h2>
    <div class="sponsors__div">
        <div class="sponsors__side">
            <div class="sponsor hidden3">
                <img src="/public/clients/client1.png" alt="" />
            </div>
            <div class="sponsor hidden3">
                <img src="/public/clients/client2.png" alt="" />
            </div>
            <div class="sponsor hidden3">
                <img src="/public/clients/client3.png" alt="" />
            </div>
        </div>
        <div class="sponsors__mid hidden3">
            <img src="/public/clientsImg.jpg" alt="" />
        </div>
        <div class="sponsors__side">
            <div class="sponsor hidden3">
                <img src="/public/clients/client4.png" alt="" />
            </div>
            <div class="sponsor hidden3">
                <img src="/public/clients/client5.png" alt="" />
            </div>
            <div class="sponsor hidden3">
                <img src="/public/clients/client6.png" alt="" />
            </div>
        </div>
    </div>
</section>
