<section id="us" class="us">
    <div class="us__container">
        <div class="us__left hidden2">
            <img src="/public/usImg.jpg" alt="" />
        </div>
        <div class="us__right hidden">
            <h3>Nosotros</h3>
            <p>
                Somos una empresa comercial en desarrollo de software y
                soluciones tecnológicas relacionadas con la satisfacción y la
                calidad del cliente en nuestros proyectos. <br /> Fundada en 2013
                en Los Mochis, Sinaloa, trabajamos con clientes como Hamburgesas
                La <br /> Hisanda y ofrecemos soluciones personalizadas en áreas
                como ventas, reservas, salario de dinero y factura electrónica. Desde
                2017, tenemos una relación estratégica con el contador de CUPA, lo
                que nos permite tomar decisiones integrales, incluidos aspectos administrativos,
                operativos, contables y financieros.
            </p>
        </div>
    </div>
    <footer class="footer">
        <div class="footer__left">
            <span class="span1"> Los Mochis, Sin</span>
            <span class="span2"> (+52) 662 473 7821 - (+52) 553 990 4089</span>
        </div>
        <div class="footer__right">
            © 2025| TIIM - Tecnología para tu Negocio.
        </div>
    </footer>
</section>
